@import "@repo/web-ui/styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --desktop-width: 1120px;
}

@layer components {
  /* https://www.joshwcomeau.com/css/full-bleed/ */
  .full-bleed-wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(var(--desktop-width), 100%)
      1fr;
    column-gap: 0.5rem;

    & > * {
      grid-column: 2;
    }
  }

  .old-design-text-base {
    @apply font-arial text-[15px] leading-5;
  }
}

@layer utilities {
  /* https://www.joshwcomeau.com/css/full-bleed/ */
  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }

  /*
    Hide arrows in number type inputs
    https://github.com/tailwindlabs/tailwindcss/discussions/2173#discussioncomment-3573204
  */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
